@import url('/src/utils//variables.css');

.home {
  background-image: url(../../assets/img/home.png);
  background-size: cover;
  padding: 260px 64px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 30px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 60px;
}

.link {
  border: none;
  transition: all 0.25s ease;
  outline: none;
  border-radius: 200px;
  background: var(--button);
  color: var(--white);
  padding: 16px 60px;
  width: 160px;
  height: 56px;
}

.link:hover,
.link:focus {
  background-color: var(--button-hover);
  border: 1px solid var(--white);
}
